@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face{
    font-family:"om015";
    src:url("../font/omnigothic015.otf");
}
@font-face{
    font-family:"om025";
    src:url("../font/omnigothic025.otf");
}
@font-face{
    font-family:"om035";
    src:url("../font/omnigothic035.otf");
}
@font-face{
    font-family:"om045";
    src:url("../font/omnigothic045.otf");
}
@font-face{
    font-family:"om050";
    src:url("../font/omnigothic050.otf");
}
@font-face{
    font-family:"om055";
    src:url("../font/omnigothic055.otf");
}
*{margin: 0; padding: 0; box-sizing: border-box;}
ol, ul{list-style:none;}
a{text-decoration:none; color:inherit;}
body{}
.en{font-family: 'Roboto Slab', serif;}

.container{width:1720px; margin:0 auto;}


.textBox > h2{
    display:block;
    font-family:"om045",sans-serif;
    font-size:50px;
    font-weight: normal;
}
.Btn{
    margin:27px auto 0;
    width:251px;
    height:100px;
    background-color:rgba(0,0,0,0.5);
    border:2px solid white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    cursor:pointer;
    transition:all 0.25s;
}
.Btn span{
    display:block;
    font-family: "om025",sans-serif;
    font-size:25px;
}

#section3 .sc_textBox p{
    font-family: "om025",sans-serif;
    font-size:20px;
    line-height:40px;
    text-align:center;
}
#section3 .btnBox{
    width:131px;
    height:60px;
    border:1px solid black;
    cursor:pointer;
    font-family: "0m025",sans-serif;
    font-size:20px;
    text-align:center;
    line-height:60px;
    transition:all 0.25s;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

/* 모듈 */

.modal-inner{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position:fixed;
    top:0;
    left:0;
    z-index:998;
    /* display:none; */
}
.modal{
    width:30%;
    height:30%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    z-index:999;
    text-align:center;
}
.modal_title{
    margin:30px 0;
    
}
.modal_info{
    /* width:60%; */
    /* margin-left:20px; */
}
.modal span{
    font-family: "om055",sans-serif;
    font-size:25px;
}
.modal p{
    font-family: "om035",sans-serif;
    font-size:18px;
    line-height:40px;
}
.modal img{
    width:150px;
}
/* .modal_logo{
    position:absolute;
    bottom:25px;
    left:30px;
} */
.modal_btn button{
    width:80px;
    height:40px;
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
}
#section1{height:969px;}

header{
    
}
header{
    transition:all 0.5s;
    position:fixed;
    left:50%;
    transform:translate(-50%);
    width:100%;
    z-index:100;
}
#section1 header:hover{
    
}
header .hed_inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:"om035",sans-serif;
    font-size:20px;
    padding:20px 0;
}
header .no_gnb ul{
    display:flex;
}
header .no_gnb ul li{
    margin-right:24px;
    position:relative;
}
header .no_gnb ul li:last-child{
    margin-right:0;
}
header .log ul{
    display:flex;
    align-items: center;
}
header .log ul li{
    margin-left:24px;
}
header .log ul li:first-child{
    margin-left:0;
}
header .log ul li a img{
    width:25px;
    height:25px;
}
header .gnb{
    font-family: "om045",sans-serif;
    font-size:20px;
    text-align:center;
    width:50%;
    margin:0 auto;
}
header .gnb ul{
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
header .gnb ul li{
    position:relative;
}


header.scroll_on{
    background:rgb(255, 255, 255);
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    height:50px;
}
header.scroll_on .hed_inner{
    height:100%;
    padding:16px 0;
    font-size:16px;
}
header.scroll_on .active{
    display:none;
}
header.scroll_on .none{
    display:block;
    margin-bottom:0;
}
header.scroll_on .none img{
    width:60px;
}

header .none{
    display:none;
}

header.scroll_on .log ul li a img{
    padding-top:0;
    width:20px;
    height:20px;
}
header.scroll_on .no_gnb ul{
    display:flex;
    align-items:center;
}
header.scroll_on .log ul{
    height:50px;
    display:flex;
    align-items: center;
}
header.scroll_on .gnb{
    position:absolute;
    top:16px;
    left:50%;
    transform:translateX(-50%);
    z-index:200;
    width:50%;
    font-size:16px;
}
header.scroll_on .gnb ul{
    display:flex;
    justify-content: space-between;
}

/*header hover 효과*/
header li{
    position:relative;
}
header li::after{
    content:"";
    width:15px;height:15px;
    background:url("../img/triangle.png") no-repeat center / contain;
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    bottom:-25px;
    opacity: 0;
    transition:all 0.25s;
}
header li:hover::after{
    opacity: 1;
    bottom:-15px;
}
#fp-nav ul li .fp-tooltip.right{
    font-family: "om035",sans-serif;
    font-size:18px;
    right:28px;
    color:black;
}
#fp-nav ul{
    position:absolute;
    right:30px;
    top:-120px;
}

#fp-nav ul li{
    width:30px;
    height:35px;
}
#fp-nav ul li a span{
    background:transparent url(../img/navilogo2.png) no-repeat;
    width:30px;
    height:30px;
    border-radius:0;
    position:absolute;
    left:50%;
    top:0;
}

/*마우스 올렸을 때*/
#fp-nav ul li:hover a span{
    background:transparent url(../img/navilogo.png) no-repeat;
    width:30px;
    height:30px;
}
/*해당 section이 active 되었을 때*/
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span{
    background:transparent url(../img/navilogo.png) no-repeat;
    width:30px;
    height:30px;
    border-radius:0;
}

.scrollBox{
    /* width:150px; */
    /* background:blue; */
    position:fixed;
    z-index:999;
    bottom:30px;
    right:100px;
    display:flex;
}
.scrollBox span{
    font-family: "om035",sans-serif;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    font-size:16px;
    cursor:default;
}

.ani{
    position:absolute;
    top:-6px;
    right:-30px;
    animation:1s animation linear infinite;
}
@keyframes animation{
    0%{
        top:-6px;
    }
    50%{
        top:8px;
    }
    100%{
        top:-6px;
    }
}
.scrollBox img{
    width:20px;
}

#section1{
    height:969px;
    /* background:blue; */
}
#section1 .video_bg{
    width:100%;
    height:969px;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}
#section1 .video_bg video{
    width:100%;
    height:100%;
    object-fit:cover;
}
#section1 .video_bg .textBox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:5;
}
#section1 .video_bg .Btn > span{
    color:white;
}#section1 .video_bg .Btn:hover{
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 4px 4px rgba(0,0,0,0.5);
}#section1 .video_bg .Btn:active{
    background-color:rgba(0,0,0,0.7);
}
/* section1 end */


#section2{
    position:relative;
    width:100%;
    height:969px;
}
#section2 img{
    width:100%;
    height:100vh;
}
#section2 .section2_text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1;
    width:80%;
    text-align:center;
}
#section2 .textBox{
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translateX(-50%);
}
#section2 .textBox .Btn:hover{
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 4px 4px rgba(0,0,0,0.5);
}
#section2 .textBox .Btn:active{
    background-color:rgba(0,0,0,0.7);
}
#section2 .textBox span{
    color:white;
    text-align:center;  
}


#section2 .section2_text span{
    font-family: "om035",sans-serif;
    font-size:30px;
    line-height:45px;
}
/* section2 end */

#section3{
    width:1570px;
    height:969px;
    margin:0 auto;
    /* background:blue; */
}

#section3 .scFirst{
    height:404px;
    margin-bottom:20px;
}
#section3 img{
    width:605px;
    height:296px;
}
#section3 .sc_titleBox{
    text-align:center;
    padding-top:80px;
    margin-bottom:30px;
}
#section3 .sc_titleBox span{
    font-family: "om045",sans-serif;
    font-size:30px;
}
#section3 .sc_titleBox span.eng{
    font-family: 'Roboto Slab', serif;
    font-size:30px;
    font-weight:500;
}
#section3 .sc_contentsBox{
    display:flex;
    justify-content: space-around;
}
#section3 .sc_contentsBox > .sc_textBox{
    position:relative;
    width:40%;
}
#section3 .sc_contentsBox .sc_textBox > p{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
}

#section3 .btnBox:hover{
    box-shadow:0 1px 4px rgba(0,0,0,0.5);
}
/* section3 end */

#section4{
    width:1570px;
    margin:0 auto;
    height:969px;
}
#section4 img{
    width:100%;
    height:969px;
}
#section4 .sc4_inner{
    position:relative;
}
#section4 .textBox{
    text-align:center;
    position:absolute;
    bottom:100px;
    left:50%;
    transform:translateX(-50%);
    color:white;
}

#section4 .textBox .Btn:hover{
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 4px 4px rgba(0,0,0,0.5);
}
#section4 .textBox .Btn:active{
    background-color:rgba(0,0,0,0.7);
}
/* section4 end */


#item_section1{
}
#item_section1,
#item_section2{
    width:85%;
    margin:0 auto;
    height:35%;
    position:relative;
}
.mySwiper{
    width:100%;

}
.tiInner{
    margin-top:30px;
}
.mySwiper .swiper-wrapper .swiper-slide{
    width:400px;
    /* height:237px; */
}



#item_section1 .swiper-button-prev,
#item_section2 .swiper-button-prev{
    position:absolute;
    top:35%;
    z-index:100;
    left:0;
}
#item_section1 .swiper-button-next,
#item_section2 .swiper-button-next{
    position:absolute;
    top:35%;
    z-index:100;
    right:0;
}

.itemTitle{
    font-family:"om035",sans-serif;
    font-size:14px;
    text-align:center;
    margin-bottom:20px;
}
.itemTitle:last-child{
}

.itemInfo{
    height:48px;
}

.itemBox{
    width:65%;
    height:100%;
    margin:0 auto;
    text-align:center;
}
.itemBox img{
    width:100%;
    height:100%;
}
.itemBox > a b{
    font-family: "om035",sans-serif;
    font-size:16px;
    /* height:42px; */
    /* display:block; */
    margin-bottom:9px;
    line-height:25px;
    font-weight:normal;
}
.itemBox img{
    
}
.itemBox p{
    font-family: "om050",sans-serif;
    font-size:13px;
    margin-bottom:6px;
    /* height:26px; */
}
.btnBox span.buy,
.btnBox span.pre{
    width:80px;
    height:30px;
    display:inline-block;
    font-family: "om025",sans-serif;
    font-size:15px;
    line-height:32px;
    transition:all 0.5s;
}

.btnBox a span.buy{
    background:black;
    color:white;
}
/* .btnBox a span.buy:hover{
    box-shadow:80px 0 0 0 rgba(255,255,255,0.3) inset;
    color:white;
} */

.btnBox a span.pre{
    background:#b0b0b0;
}
.swiper-slide{
    height:100%;
    /* background:blue; */
}
.swiper-button-next {
    background: url(../img/right_arrow.png) no-repeat center;
    background-size: 70% auto;
  }
  
  .swiper-button-prev {
    background: url(../img/left_arrow.png) no-repeat center;
    background-size: 70% auto;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
/* item_section end */


.itemtitleBox{
    position:absolute;
    top:100px;
    left:50%;
    transform:translateX(-50%);
    font-family:"om035",sans-serif;
    font-size:14px;
    text-align:center;
    margin-bottom:20px;
}
.imgBox{
    width:80%;
    height:50%;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%);
    display:flex;
    justify-content: space-between;
}
.imgBox .girlpre,
.imgBox .manpre{
    width:47%;
    height:100%;
    position:relative;
}

.imgBox img{
    width:100%;
    height:100%;
}

.imgBox .Btn{
    position:absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
    color:white;
}
.imgBox .Btn:hover{
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 4px 4px rgba(0,0,0,0.5);
}
.imgBox .Btn:active{
    background-color:rgba(0,0,0,0.7);
}
footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    height:170px;
    border-top:2px solid black;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
footer .ft_logo{
    width:30%;
}
footer .ft_logo img{
    width:90px;
    height:90px;
}
footer .copy{
    width:40%;
}
footer .copy ul{
    text-align:center;
}
footer .copy ul li{
    font-family: "om025", sans-serif;
    font-size:18px;
}
footer .copy ul li:nth-child(2){
    padding:20px 0;
}
footer .ft_sns{
    width:30%;
    /* background:blue; */
    position:relative;
}
footer .ft_sns ul{
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    /* margin-bottom:70px; */
}
footer .ft_sns ul li{
    padding-left:20px;
}
footer .ft_sns ul li:first-child{
    padding-left:0;
}



